@import './base.scss';

#app {
  font-weight: normal;
  color: #fff;
}

a,
.primary {
  text-decoration: none;
  color: hsl(30, 100%, 50%);
  transition: 0.4s;
}

.logo {
  width: 120px;
  margin: 0px;
  padding: 5px;
}

.icon {
  margin: 2px;
  width: 25px;
  height: 25px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  background: hsl(30, 93%, 46%);
  height: 40px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  padding: 0.7rem 2rem;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.btn-flat {
  cursor: pointer;
  background: hsla(30, 93%, 46%, 0);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  padding: 0.7rem 2rem;
  border: none;
  margin: 5px;
}

.btn-actions {
  cursor: pointer;
  background: hsla(30, 93%, 46%, 0);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  padding: 0.1rem 0.5rem;
  border: none;
  margin: 0px;
}

.btn-exit {
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.233);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  padding: 0.1rem 0.5rem;
  border: none;
  position: absolute;
  right: 10px;
  // z-index: 99;
  margin: 0px;
}

.btn-rounded {
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  border: none;
  margin: 5px;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  outline: none;
}

.input-password {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  height: 30px;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  outline: none;
}

.passwordContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(30, 100%, 50%, 0.2);
  }
}
